body{
margin:0;
font-family:Arial;
background:#0b1b2b;
color:#fff;
}

/* header */
.header{
text-align:center;
padding:15px;
}

.header input{
width:90%;
padding:12px;
border-radius:20px;
border:none;
margin-top:10px;
}

/* المنتجات */
.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
padding:10px;
}

.card{
background:#132c44;
padding:10px;
border-radius:10px;
text-align:center;
}

.card img{
width:100%;
height:120px;
object-fit:contain;
}

.card button{
width:100%;
margin-top:5px;
padding:8px;
border:none;
border-radius:8px;
}

/* المنتج */
.product-page{
text-align:center;
padding:15px;
}

.product-page img{
width:80%;
max-width:250px;
}

.price{
color:#00ff88;
font-size:22px;
}

.buy-box button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
}

/* السلة */
#cart{
padding:10px;
}

.qty{
display:flex;
justify-content:center;
gap:10px;
}

.qty button{
width:30px;
height:30px;
}

/* زر السلة */
.cart-btn{
position:fixed;
bottom:20px;
right:20px;
background:#00ff88;
padding:15px;
border-radius:50%;
color:#000;
text-decoration:none;
}

/* رقم */
#cart-count{
position:absolute;
top:-5px;
right:-5px;
background:red;
color:#fff;
font-size:12px;
padding:3px 6px;
border-radius:50%;
}

/* واتساب */
.whatsapp{
position:fixed;
bottom:80px;
left:20px;
background:#25D366;
padding:15px;
border-radius:50%;
color:#fff;
text-decoration:none;
}